SUPABASE_API_ENDPOINT=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_STORAGE_ENDPOINT=
SUPABASE_STORAGE_ACCESS_KEY=
SUPABASE_STORAGE_SECRET_KEY=
SUPABASE_ANON_PUBLIC_KEY=
SUPABASE_SERVICE_ROLE_KEY=
IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMGBB_ENDPOINT=https://api.imgbb.com/1/upload
IMGBB_API_KEY=
GITHUB_PAT=
